@page "/Dashboard"

<h3>Receivable</h3>
<p>Invoices awaiting payment</p>
<Receivable />

<h3 class="mt-4">Pending</h3>
<p>Hours and expenses not yet invoiced</p>

<h3 class="mt-4">Recent</h3>

<h3 class="mt-4">Stats</h3>


@code {

}
