@page "/"
@using Microsoft.Extensions.Options


<PageTitle>Home</PageTitle>

<h1>LiteInvoice</h1>

<p>This is for creating invoices</p>

<AuthorizeView>
	<Authorized>
		<AppInfo />
	</Authorized>
</AuthorizeView>