@page "/Setup/Customers"
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject ViewState View

<h3>Customers</h3>
<RadzenDropDown @bind-Value="View.BusinessId" Data="businesses" ValueProperty="Id" TextProperty="Name" Change="Refresh" Placeholder="business" />

<GridInsertButton TItem="Customer" Grid="grid" OnCreateItem="() => new() { BusinessId = View.BusinessId }" />
<RadzenDataGrid TItem="Customer" Data="customers" @ref="grid" RowCreate="SaveCustomer" RowUpdate="SaveCustomer">
	<Columns>
		<RadzenDataGridColumn TItem="Customer" Title="Name" Property="Name">
			<EditTemplate>
				<RadzenTextBox @bind-Value="context.Name" Placeholder="Name" MaxLength="50" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Customer" Title="Contact Name" Property="Contact">
			<EditTemplate>
				<RadzenTextBox @bind-Value="context.Contact" Placeholder="Contact name" MaxLength="50" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Customer" Title="Email" Property="Email">
			<Template>
				<span style="white-space:normal">@context.Email</span>
			</Template>
			<EditTemplate>
				<RadzenTextBox @bind-Value="context.Email" Placeholder="Email" MaxLength="50" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Customer" Title="Phone" Property="Phone">
			<EditTemplate>
				<RadzenTextBox @bind-Value="context.Phone" Placeholder="Phone" MaxLength="50" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Customer" Title="Rate" Property="HourlyRate" FormatString="{0:c2}">
			<EditTemplate>
				<RadzenNumeric @bind-Value="context.HourlyRate" Placeholder="Hourly Rate" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<GridControls TItem="Customer" Grid="grid" DeleteRow="DeleteCustomer" />
	</Columns>
	<Template>
		<div class="edit-form">
			<label>Address:</label>
			<RadzenTextBox @bind-Value="context.Address" MaxLength="100" />

			<label>City:</label>
			<RadzenTextBox @bind-Value="context.City" MaxLength="100" />

			<label>State:</label>
			<RadzenTextBox @bind-Value="context.State" MaxLength="2" />

			<label>ZIP:</label>
			<RadzenTextBox @bind-Value="context.Zip" MaxLength="20" />
		</div>
	</Template>
</RadzenDataGrid>

@code {
	private ApplicationUser user = new();
	private Business[] businesses = [];
	private Customer[] customers = [];
	private RadzenDataGrid<Customer>? grid;

	protected override async Task OnInitializedAsync()
	{
		user = await CurrentUser.GetAsync();
		using var db = DbFactory.CreateDbContext();

		businesses = await db
			.Businesses
			.Where(b => b.UserId == user.UserId)
			.ToArrayAsync();

		View.Initialize(businesses);

		await Refresh();
	}

	private async Task Refresh()
	{
		using var db = DbFactory.CreateDbContext();

		customers = await db
				.Customers
				.Where(c => c.BusinessId == View.BusinessId)
				.ToArrayAsync();
	}

	private async Task SaveCustomer(Customer row)
	{
		using var db = DbFactory.CreateDbContext();
		db.CurrentUser = user.UserName;
		db.Customers.Update(row);
		await db.SaveChangesAsync();
	}

	private async Task DeleteCustomer(Customer row)
	{
		using var db = DbFactory.CreateDbContext();
		db.Customers.Remove(row);
		await db.SaveChangesAsync();
		await Refresh();
	}
}
