@page "/Setup/Customers"
@inject IDbContextFactory<ApplicationDbContext> DbFactory

<h3>Customers</h3>
<RadzenDropDown @bind-Value="selectedBusinessId" Data="businesses" ValueProperty="Id" TextProperty="Name" Change="SelectBusiness" Placeholder="business" />

<GridInsertButton TItem="Customer" Grid="grid" OnCreateItem="() => new() { BusinessId = selectedBusinessId }" />
<RadzenDataGrid Data="customers" @ref="grid">
	<Columns>
		<RadzenDataGridColumn TItem="Customer" Title="Name" Property="Name">
			<EditTemplate>
				<RadzenTextBox @bind-Value="context.Name" Placeholder="Name" MaxLength="50" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Customer" Title="Contact Name" Property="Contact">
			<EditTemplate>
				<RadzenTextBox @bind-Value="context.Contact" Placeholder="Contact name" MaxLength="50" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Customer" Title="Email" Property="Email">
			<EditTemplate>
				<RadzenTextBox @bind-Value="context.Email" Placeholder="Email" MaxLength="50" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Customer" Title="Phone" Property="Phone">
			<EditTemplate>
				<RadzenTextBox @bind-Value="context.Phone" Placeholder="Phone" MaxLength="50" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<RadzenDataGridColumn TItem="Customer" Title="Rate" Property="HourlyRate">
			<EditTemplate>
				<RadzenNumeric @bind-Value="context.HourlyRate" Placeholder="Hourly Rate" />
			</EditTemplate>
		</RadzenDataGridColumn>
		<GridControls Grid="grid" />
	</Columns>
</RadzenDataGrid>


@code {
	private int selectedBusinessId;
	private Business[] businesses = [];
	private Customer[] customers = [];
	private RadzenDataGrid<Customer>? grid;

	[CascadingParameter] public ApplicationUser? CurrentUser { get; set; }

	protected override async Task OnInitializedAsync()
	{
		using var db = DbFactory.CreateDbContext();

		var userId = CurrentUser?.UserId ?? 0;

		businesses = await db
			.Businesses
			.Where(b => b.UserId == userId)
			.ToArrayAsync();

		if (businesses.Any()) 
		{
			selectedBusinessId = businesses.First().Id;
		}
	}

	private async Task SelectBusiness()
	{
		
	}
}
