@inherits LayoutComponentBase
@layout BlazorApp.Components.Layout.MainLayout

<div class="d-flex align-items-start">
	<div class="border-end">
		<nav class="d-flex flex-column">
			<IconNavLink Href="/Setup" IconClass="checklist" Text="Checklist" Match="NavLinkMatch.All" />
			<IconNavLink Href="/Setup/Business" IconClass="contact_page" Text="Business" />
			<IconNavLink Href="/Setup/PaymentMethods" IconClass="wallet" Text="Payment Methods" />
		</nav>
	</div>
	<div class="ps-4">
		@Body
	</div>
</div>

@code {

}
