@inject IDbContextFactory<ApplicationDbContext> DbFactory
@page "/Setup"

<h3>Setup</h3>

<ul>
	@foreach (var item in todoItems)
	{
		<li>
			<a href="@item.Link">@item.Text</a>
			<p>@item.Description</p>
		</li>
	}
</ul>

@code {
	private IEnumerable<SetupChecklist.Item> todoItems = [];

	[CascadingParameter] public ApplicationUser? CurrentUser { get; set; }

	protected override async Task OnInitializedAsync()
	{
		using var db = DbFactory.CreateDbContext();
		todoItems = await new SetupChecklist().GetIncompleteItemsAsync(db, CurrentUser?.UserId ?? 0);
	}
}
