@inject IDbContextFactory<ApplicationDbContext> DbFactory
@page "/Setup"

<h3>Setup</h3>

<ul>
	@foreach (var item in todoItems)
	{
		<li>
			<a href="@item.Link">@item.Text</a>
			<p>@item.Description</p>
		</li>
	}
</ul>

@code {
	private ApplicationUser user = new();
	private IEnumerable<SetupChecklist.Item> todoItems = [];	

	protected override async Task OnInitializedAsync()
	{
		user = await CurrentUser.GetCurrentUserAsync();
		using var db = DbFactory.CreateDbContext();
		todoItems = await new SetupChecklist().GetIncompleteItemsAsync(db, user.UserId);
	}
}
