@inject IDbContextFactory<ApplicationDbContext> DbFactory
@page "/Setup/PaymentMethods"
@implements IDisposable

<h3>Payment Methods</h3>

<EditForm Model="newPaymentMethod">
	<FluentSelect @bind-SelectedOption="newPaymentMethod.Type" Label="Type" Items="Enum.GetValues<PaymentMethodType>()" />

	<FluentTextField @bind-Value="newPaymentMethod.Name" Label="Name" />
</EditForm>

@if (paymentMethods is null) return;

<FluentDataGrid Items="paymentMethods">
	<PropertyColumn Property="p => p.Name" />
	<PropertyColumn Property="p => p.Type" />
	<PropertyColumn Property="p => p.StaticLink" />
</FluentDataGrid>

@code {
	private IQueryable<PaymentMethod>? paymentMethods;
	private PaymentMethod newPaymentMethod = new();
	private ApplicationDbContext? db;
	private int userId;

	[CascadingParameter]
	public ApplicationUser? CurrentUser { get; set; }

	protected override void OnInitialized()
	{
		db = DbFactory.CreateDbContext();
		userId = CurrentUser?.UserId ?? 0;

		paymentMethods = db
			.PaymentMethods
			.Include(pm => pm.Business)
			.Where(pm => pm.Business.UserId == userId)
			.AsQueryable();
	}

	public void Dispose()
	{
		db?.Dispose();
	}
}
